/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
/* @import url(../../lib/font/source-sans-pro/source-sans-pro.css); */

@font-face {
    font-family: "myFont";
    src: url('../../fonts/Montserrat-Thin.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "myFontBold";
    src: url('../../fonts/Montserrat-Thin.ttf');
    font-weight: 300;
}

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff; /*#E2EA49; /*#191919;*/
  font-family: "myFont"; /* "Source Sans Pro", Helvetica, sans-serif; */
  background-color: #fff; /*#E2EA49; /*#191919; */
  text-align: left;
  margin: 1vw;
}

.reveal {
  font-size: 4vh;
  color: #222;
  text-align: left;
}

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  /* text-transform: uppercase; */
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: myFont;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: myFont;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  /* background: rgba(255, 255, 255, 0.12); */
  border: 0px solid #fff;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #42affa; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #42affa; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #191919; } }

/*********************************************
 * CUSTOM THINGS
 *********************************************/
.title {
    padding-top: 20vh;
    text-align: center;
}

.slidetitle {
    text-align: left;
    font-size: 5.vh;
}

.content {
    margin-left: 1vw;
    font-size: 5.5vh;
}

ul li {
  position: relative;
	padding-bottom: 10px;
}

ul {
  list-style: none !important;
}

ul li:before{
   content: '';
   position: absolute;
   border-right:3px solid #222;
   border-bottom:3px solid #222;
   width:1.5vh;
   height:1.5vh;
   top: 3.5vh; /* calc(50% - 4px); */
   left: -40px;
   transform: translateY(-50%) rotate(-45deg);
}

b {
    font-family: "myFontBold";
}

.inverted {
   filter: invert(1) invert(87%) sepia(59%) saturate(507%) hue-rotate(3deg) brightness(93%) contrast(98%);
   /*-webkit-filter: invert(1);
   filter: invert(1) invert(0%) sepia(6%) saturate(691%) hue-rotate(357deg) brightness(97%) contrast(80%);*/
}
 
li > ul {
    font-size: 4vh;
}

li > ul li:before {
   content: '';
   position: absolute;
   border-right:1px solid #222;
   border-bottom:1px solid #222;
   width:1vh;
   height:1vh;
   top: 2.6vh; /* calc(50% - 4px); */
   left: -40px;
   transform: translateY(-50%) rotate(-45deg);
}

.reveal .slide-number {
    top: 0.5vh;
    bottom: 97vh !important;
    font-size: 2vh;
}

.twocolimg {
    width: 50vw;
    height: 50vh;
}

.twocoltable {
    width: 100%;
}

.twocoltable td {
    width: 50%;
    text-align: center !important;
    vertical-align: top;
}

.fragmenttobereplaced {
    position: absolute;
    left: 49.5vw;
    top: 20vh
}

.reference {
    font-size: 3vh;
    line-height: 1vh;
}

.centered {
    text-align: center;
}

.block {
    display: block;
}

.inner-circle{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top:0;
  left:0;
  pointer-events:none;
}

.reveal .controls button{
    color: #888;
}

/* BG */

body {
    height: 100vh;
    background: radial-gradient(#fff,#ddd);
    -webkit-overflow-Y: hidden;
    -moz-overflow-Y: hidden;
    -o-overflow-Y: hidden;
    overflow-y: hidden;
    -webkit-animation: fadeIn 1 1s ease-out;
    -moz-animation: fadeIn 1 1s ease-out;
    -o-animation: fadeIn 1 1s ease-out;
    animation: fadeIn 1 1s ease-out;
}

